<ion-header>
  <ion-toolbar>
    <ion-title>addClient</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <button ion-button block outline>Import From Contacts</button>
  <ion-list>
    <ion-item>
      <ion-label color="primary">Full Name *</ion-label>
      <ion-input placeholder="Joe Schmoe"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Cell Number *</ion-label>
      <ion-input placeholder="01233456789"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Alternate Number</ion-label>
      <ion-input placeholder="0123456789"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Source of Contact *</ion-label>
      <ion-select>
        <ion-select-option>Facebook</ion-select-option>
        <ion-select-option>Twitter</ion-select-option>
        <ion-select-option>Web Advert</ion-select-option>
        <ion-select-option>Word of Mouth</ion-select-option>
        <ion-select-option>Pamphlet</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Address</ion-label>
      <ion-textarea placeholder="123 Ark Street"></ion-textarea>
    </ion-item>
    <ion-item>
      <p>Google Maps Location</p>
      <button ion-button icon-only outline>
        <ion-icon name="locate"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
  <button ion-button block outline>
    Confirm
  </button>
</ion-content>
