<ion-tabs>
  <ion-tab label="Stock Items" icon="nutrition" href="/stockItems">
    <!-- <ion-router-outlet stack name="one"></ion-router-outlet> -->
  </ion-tab>
  <ion-tab label="Clients" icon="people" href="/clients">
    <!-- <ion-router-outlet stack name="two"></ion-router-outlet> -->
  </ion-tab>
  <ion-tab label="Home" icon="home" href="/home">
    <!-- <ion-router-outlet stack name="three"></ion-router-outlet> -->
  </ion-tab>
  <ion-tab label="Orders" icon="paper" href="/orders">
    <!-- <ion-router-outlet stack name="four"></ion-router-outlet> -->
  </ion-tab>
  <ion-tab label="Dishes" icon="list-box" href="/dishes">
    <!-- <ion-router-outlet stack name="five"></ion-router-outlet> -->
  </ion-tab>
</ion-tabs>
