<!--
  Generated template for the SingleClientPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ client.fullName }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="removeClient()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-item>
    <h3>Name</h3>
    <h2>{{ client.fullName }}</h2>
    <ion-icon item-end name="create" (click)="editAttribute('fullName')"></ion-icon>
  </ion-item>
  <ion-item>
    <h3>Primary Number</h3>
    <h2>{{ client.primaryNumber }}</h2>
    <ion-icon item-end name="create" (click)="editNumber('primaryNumber')"></ion-icon>
  </ion-item>
  <ion-item>
    <h3>Alternate Number</h3>
    <h2>{{ client.altNumber }}</h2>
    <ion-icon item-end name="create" (click)="editNumber('altNumber')"></ion-icon>
  </ion-item>
  <ion-item>
    <h3>Source of Contact</h3>
    <h2>{{ client.contactSource }}</h2>
    <ion-icon item-end name="create" (click)="editContactSource('contactSource')"></ion-icon>
  </ion-item>
  <ion-item>
    <h3>Address</h3>
    <p>{{ client.address }}</p>
    <ion-icon item-end name="create" (click)="editAttribute('address')"></ion-icon>
  </ion-item>
  <ion-item>
    <h3>Favourite Dish</h3>
    <p>Thai Chicken</p>
  </ion-item>
  <ion-item>
    <h3>Order History</h3>
    <h4>Click on an order to view its details</h4>
    <p *ngIf="numOrders == 0">No orders associated with this client yet</p>
    <ion-list>
      <p *ngFor="let order of clientOrders | async" (click)="goToOrderPage(order)">
        {{ order.dateDue }} &nbsp;&nbsp; {{ getOrderItems(order) }}
      </p>
    </ion-list>
  </ion-item>
</ion-content>
