<!--
  Generated template for the AddOrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add New Order</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="addOrderForm">
    <button ion-button type="submit" [disabled]="!entireOrderIsValid()" (click)="submitNewOrderForm()" block outline>
      Confirm Order
    </button>
    <ion-list>
      <ion-item>
        <ion-label color="primary">Client</ion-label>
        <ion-select formControlName="client">
          <ion-option *ngFor="let c of clientData | async" [value]="c">{{ c.fullName }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Date Due</ion-label>
        <ion-datetime formControlName="dateDue" displayFormat="DD/MMM/YYYY" min="2018" max="2100-12-31"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Time Due</ion-label>
        <ion-datetime formControlName="timeDue" displayFormat="h:mm A" pickerFormat="h mm A"></ion-datetime>
      </ion-item>
      <ion-card class="orderItems">
        <ion-item>
          <ion-label color="primary">Order Item Dish</ion-label>
          <ion-select formControlName="dishes">
            <ion-option *ngFor="let d of dishData | async" [value]="d">{{ d.name }}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary">Order Item Quantity</ion-label>
          <ion-input type="number" formControlName="quantity" value=1 step="1"></ion-input>
        </ion-item>
        <button ion-button outline style="margin: 5px auto; display: block;" (click)="addOrderItem()" [disabled]="!orderItemsAreValid()">
          Add Order Item
        </button>
        <ion-card>
          <ion-card-header>Items in Order</ion-card-header>
          <ion-card-content>
            <p *ngFor="let i of allOrderItems">&nbsp;&nbsp;{{ i.dish.name }}&nbsp;&nbsp;x {{ i.quantity }}</p>
            <p style="font-weight: bold">Order Cost: {{ getOrderTotal() | currency:'ZAR' }}</p>
          </ion-card-content>          
        </ion-card>
      </ion-card>
      <ion-item>
        <ion-label color="primary">Notes</ion-label>
        <ion-textarea formControlName="notes" placeholder="Additional notes..."></ion-textarea>
      </ion-item>
    </ion-list>
    <button ion-button type="submit" [disabled]="!entireOrderIsValid()" (click)="submitNewOrderForm()" block outline>
      Confirm Order
    </button>
  </form>
</ion-content>
