<ion-header>
  <ion-toolbar>
    <ion-title>clients</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="currentclients">
    <ion-card-content>
      <ion-card-title>
        Clients with current orders
      </ion-card-title>
      <p>
        No clients as of yet
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card class="allorders">
    <ion-card-content>
      <ion-card-title>
        All Clients
        <button ion-button outline>Sort</button>
        <button ion-button outline (click)="goToAddClient()">+</button>
      </ion-card-title>
      <ion-list>
        <p>Tap on a client to view details</p>
        <button ion-item>
          <p item-start>Client Name</p>
          <p item-end>Client Cell Number</p>
        </button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
